<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<div class="star-wars-intro">

  <!-- Blue Intro Text -->
  <p class="intro-text">
    Em um novo país, após fazer novos amigos muito legais...
  </p>

  <!-- Logo Image or Text goes in here -->
  <h2 class="main-logo">
    <img src="/assets/img/star-wars-intro.png">
  </h2>

  <!-- All Scrolling Content Goes in here -->
  <div class="main-content">

    <div class="title-content">
      <p class="content-header">EPISÓDIO VIII <br>Aprendendo a programar</p>

      <br>
      <br>

      <p class="content-body">
        Depois de muitos anos sonhando em aprender programação, estes novos guerreiros vindos de terras distantes conseguiram um lugar ao sol para virarem profissionais da tecnologia. Nesta jornada estão aprendendo algoritmos, lógica de programação, GIT, JavScript, Angular, Docker e muitas outras coisas nerds legais. Não se esqueça de beber muito café e se divertir nesta jornada!
      </p>
    </div>
  </div>
</div>

<section id="welcome">
  <div class="container">
    <div class="pad">
      <h1 class="text-center">Star Wars em Angular :D</h1>
      <p class="text-center lead">Aqui, listaremos tudo o que há de legal em Star Wars</p>

      <!-- Rotas -->
      <router-outlet></router-outlet>

      <div class="text-center">
        <em class="lead">May the Force be with you</em> 
      </div>
    </div>
  </div>
</section>

<footer class="text-center">
  <div class="container">
    <p>
      Feito por nerds para ensinar novos nerds!
    </p>
  </div>
</footer>