<h4>ngStyle</h4>

<i
    [ngClass]="{
        'ion-ios7-star': meu_favorito,
        'ion-ios7-star-outline': !meu_favorito
    }"

    [ngStyle]="{
        'fontSize': '50px',
        'color': '#ffd700'
    }"
    (click)="onClick()"
></i>

<i
    [ngClass]="{
        'ion-ios7-star': meu_favorito,
        'ion-ios7-star-outline': !meu_favorito
    }"

    [ngStyle]="{
        'fontSize': '50px',
        'color': '#ffd700'
    }"
    (click)="onClick()"
></i>

<i
    [ngClass]="{
        'ion-ios7-star': meu_favorito,
        'ion-ios7-star-outline': !meu_favorito
    }"

    [ngStyle]="{
        'fontSize': '50px',
        'color': '#ffd700'
    }"
    (click)="onClick()"
></i>

<i
    [ngClass]="{
        'ion-ios7-star': meu_favorito,
        'ion-ios7-star-outline': !meu_favorito
    }"

    [ngStyle]="{
        'fontSize': '50px',
        'color': '#ffd700'
    }"
    (click)="onClick()"
></i>

<i
    [ngClass]="{
        'ion-ios7-star': meu_favorito,
        'ion-ios7-star-outline': !meu_favorito
    }"

    [ngStyle]="{
        'fontSize': '50px',
        'color': '#ffd700'
    }"
    (click)="onClick()"
></i>
