<div class="login-box">
	<h2>Login</h2>
	<form #nossoForm="ngForm" (ngSubmit)="onSubmit(nossoForm)">
		<div class="user-box">
			<input type="text" name="name" required [(ngModel)]="usuario.name">
			<label>Nome</label>
		</div>
		
		<div class="user-box">
			<input type="email" name="email" required [(ngModel)]="usuario.email">
			<label>Email</label>
		</div>

		<div class="user-box">
			<input type="text" name="phone" required [(ngModel)]="usuario.phone">
			<label>Phone</label>
		</div>

		<div class="user-box">
			<input type="text" name="website" required [(ngModel)]="usuario.website">
			<label>Website</label>
		</div>
		
		<button type="submit">
			<span></span>
			<span></span>
			<span></span>
			<span></span>Submit
		</button>
	</form>
</div>